
.destinations-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 15px;
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .search-input{
    direction: rtl;
    margin-bottom: 20px;
    margin-right: 5%;
  }
  